<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/style2.css">
     <link rel="stylesheet" href="../public/style3.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
  <br>
  <h1 style="text-shadow: 2px 2px 2px gray; line-height: 60%;,@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 70px; color:  #148CFF; text-align: center;">2NfU</h1>
  <h2 style="@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 20px; color:  #444444; text-align: center;">Nice News For U</h2>
  <div id='cssmenu'>
    <ul>
      <li><a href='#'>My page</a></li>
      <li><a href='#'>Products</a></li>
      <li><a href='#'>Company</a></li>
      <li><a href='#'>News</a></li>
    </ul>
  </div>
  <br>

  <div class="card" style="width:300px">
    <img class="card-img-top" src="../img/th.jpg" alt="Card image">
    <div class="card-img-overlay">
    </div>
  </div>
        <br>

  <form action="/addgroup" method="post">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">언론사 명</span>
      </div>
      <input type="text" class="form-control" placeholder="이름" name="grname">
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

  </body>
