<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../style.css">
   <link rel="stylesheet" href="../style2.css">
   <link rel="stylesheet" href="../style3.css">
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <script src="script.js"></script>
</head>
<body>
<h1 style="text-shadow: 2px 2px 2px gray; line-height: 60%;,@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 70px; color:  #148CFF; text-align: center;">2NfU</h1>
<h2 style="@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 20px; color:  #444444; text-align: center;">Nice News For U</h2>
<div id='cssmenu' style="margin-bottom: 10px;">
<ul>
  <li><a href='/main'>Main</a></li>
  <li><a href='/news/all'>News</a></li>
  <li><a href='/addrp'>Enrollment</a></li>
  <li><a href='/addgroup'>Press</a></li>
  <li class="active"><a href='/mypage'>My Page</a></li>
  <li><a href='/fake'>Fakes</a></li>
  <li><a href='/ranking'>Ranking</a></li>
   <li><a href='#'>Login</a></li>
   <li><a href='#'>Register</a></li>
</ul>
</div>
<div class="container">
<h2>Mails</h2>
<% for (var i = 0; i < info.length; i++){ %>
  <a href="/mypage/<%=info[i].ID%>">info[i].TITLE</a>
  <a href="/mypage/<%=info[i].ID%>/edit">reply</a>
  <% }%>
<html>
