<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../public/styles.css">
   <link rel="stylesheet" href="../public/comment.css">
   <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
   <script src="../public/star.js"></script>
   <script src="../public/jquery-1.11.3.min.js"></script>
</head>
<body>
  <h1 style="text-shadow: 2px 2px 2px gray; line-height: 60%;,@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 70px; color:  #148CFF; text-align: center;">2NfU</h1>
  <h2 style="@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 20px; color:  #444444; text-align: center;">Nice News For U</h2>
  <div id='cssmenu'>
    <ul>
      <li class='active'><a href='#'>My page</a></li>
      <li><a href='#'>Products</a></li>
      <li><a href='#'>Company</a></li>
      <li><a href='#'>News</a></li>
    </ul>
  </div>

  <div> //뉴스 내용

  </div>


  <form id="addCommentForm" style="margin: 10px 0;" action="addComment.jsp" method="post">
      <div id="addComment">
          <textarea style="addComment-ta" name="memo" rows="7" cols="50"></textarea>
      </div>
      <div style="text-align: right;">
          <input type="submit" value="댓글 쓰기" />
      </div>
      <span class="star-input">
      	<span class="input">
          	<input type="radio" name="star-input" value="1" id="p1">
          	<label for="p1">1</label>
          	<input type="radio" name="star-input" value="2" id="p2">
          	<label for="p2">2</label>
          	<input type="radio" name="star-input" value="3" id="p3">
          	<label for="p3">3</label>
          	<input type="radio" name="star-input" value="4" id="p4">
          	<label for="p4">4</label>
          	<input type="radio" name="star-input" value="5" id="p5">
          	<label for="p5">5</label>
        	</span>
        	<output for="star-input"><b>0</b>점</output>
      </span>
  </form>

</body>
<html>
