<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../public/styles.css">
   <link rel="stylesheet" href="../public/comment.css">
   <script src="../public/comment.js"></script>
</head>
<body>
  <h1 style="text-shadow: 2px 2px 2px gray; line-height: 60%;,@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 70px; color:  #148CFF; text-align: center;">2NfU</h1>
  <h2 style="@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 20px; color:  #444444; text-align: center;">Nice News For U</h2>
  <div id='cssmenu'>
    <ul>
      <li class='active'><a href='#'>My page</a></li>
      <li><a href='#'>Products</a></li>
      <li><a href='#'>Company</a></li>
      <li><a href='#'>News</a></li>
    </ul>
  </div>

  <div> //뉴스 내용

  </div>


  <form id="addCommentForm" style="margin: 10px 0;" action="addComment.jsp" method="post">
      <div id="addComment">
          <textarea style="addComment-ta" name="memo" rows="7" cols="50"></textarea>
      </div>
      <div style="text-align: right;">
          <input type="submit" value="댓글 쓰기" />
      </div>
      <div class="starRev">
<span class="starR1">별1_왼쪽</span>
<span class="starR2">별1_오른쪽</span>
<span class="starR1">별2_왼쪽</span>
<span class="starR2">별2_오른쪽</span>
<span class="starR1">별3_왼쪽</span>
<span class="starR2">별3_오른쪽</span>
<span class="starR1">별4_왼쪽</span>
<span class="starR2">별4_오른쪽</span>
<span class="starR1">별5_왼쪽</span>
<span class="starR2">별5_오른쪽</span>
</div>
  </form>

</body>
<html>
