<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="../public/style.css">
   <link rel="stylesheet" href="../public/style2.css">
   <link rel="stylesheet" href="../public/style3.css">
   <link rel="stylesheet" href="../public/comment.css">
   <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
   <script src="../public/star.js"></script>
   <script src="../public/jquery-1.11.3.min.js"></script>
</head>
<body>
  <h1 style="text-shadow: 2px 2px 2px gray; line-height: 60%;,@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 70px; color:  #148CFF; text-align: center;">2NfU</h1>
  <h2 style="@import url(http://fonts.googleapis.com/css?family=Oswald); font-family: 'Oswald', sans-serif; font-size : 20px; color:  #444444; text-align: center;">Nice News For U</h2>
  <div id='cssmenu'>
    <ul>
      <li><a href='/'>Main</a></li>
      <li class="active"><a href='/news/all'>News</a></li>
       <li><a href='#'>Products</a></li>
       <li><a href='#'>Company</a></li>
       <li><a href='/mypage'>My Page</a></li>
       <li><a href='/fake'>Fakes</a></li>
       <li><a href='/ranking'>Ranking</a></li>
       <li><a href="/admin">Admin</a></li>
       <li><a href="/login">Login</a></li>
       <li><a href="/register">register</a></li>
    </ul>
  </div>
  <a href="/detail/<%=contents[0].ID%>/report">
  <div>
    <%=contents%>
  </div>


  <form id="addCommentForm" style="margin: 10px 0;" method="post">
      <div id="addComment">
          <textarea style="addComment-ta" name="memo" rows="7" cols="50"></textarea>
      </div>
      <div>
        <label>평점</label>
        <select name="score" required>
            <option disabled selected>점수를 선택하세요</option>
            <option value=1>★☆☆☆☆</option>
            <option value=2>★★☆☆☆</option>
            <option value=3>★★★☆☆</option>
            <option value=4>★★★★☆</option>
            <option value=5>★★★★★</option>
        </select>
    </div>
      <input type="submit" value="댓글 쓰기" />
  </form>
  <table class="table table-striped">
    <% if(comments !== false){ %>
    <thead>
      <tr>
        <th>아이디</th>
        <th>내용</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i = 0; i < len; i++){ %>
        <tr>
          <td>
            <%= comments[i].USER %>
          </td>
  <td>
    <%= comments[i].CONTENTS %>
  </td>
  </tr>
    <% }%>
  </tbody>
  </table>
  <% }else{%>
    <tr>댓글이 없습니다</tr>
    <% }%>
</body>
<html>
